// properties should be at 'application.properties' file

// APPLICATION SETTINGS
upload.path=./dynamic/images
photo.path=./dynamic/photos
java.io.tmpdir=./temp

// SPRING DB CONNECTION SETTINGS
spring.datasource.url=jdbc:h2:file:~/data/database
spring.datasource.driver-class-name=org.h2.Driver
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect

// SPRING SUPERUSER SETTINGS
spring.datasource.username=USERNAME
spring.datasource.password=PASSWORD
