<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cook's stash</title>
    <link rel="icon" href="../images/prof_photo.jpg" type="images/x-icon">
    <link rel = "stylesheet" th:href="@{/styles/StyleLogin.css}">
    <link rel = "stylesheet" th:href="@{/styles/styleBase.css}">
    <meta http-equiv="Content-Type">
</head>

<body>
    <div th:insert="fragments/header :: header"></div>
<label><h1 align="center"><em>Регистрация</em></h1></label>

<div class="upperTable">
    <form id="form" th:action="@{/user/register}" method="post" class="table_part" style="background: #DE9E7B; border: none; border-radius: 7px; padding: 10px;">
        <input name="username" class="small_part" style="background: #F9F0DA; border: none; border-radius: 7px; font-size: 22px; margin: 5px; padding: 3px;" type="text" placeholder="Логин">
        <input id="password"" name="password" class="small_part" style="background: #F9F0DA; border: none; border-radius: 7px; font-size: 22px; margin: 5px; padding: 3px;" type="password" placeholder="Пароль">
        <button class="small_part form_button" style="width: 92%;" onclick="encodeAndSubmit()">Зарегистрироваться</button>
        <p class="small_part" th:if="registerMessage != null" th:text="${registerMessage}"></p>
    </form>
</div>

<label><h4 class="text_reg" align="center"><em><a href="/user/login" style="font-size: 20px; text-decoration: underline;">Авторизация</a></em></h4></label>
</body>
<script>
    function encodeAndSubmit() {
        var passwordInput = document.getElementById("password");
        var password = passwordInput.value;

        // Закодировать пароль с помощью BCrypt
        var encodedPassword = btoa(password);

        // Установить закодированный пароль обратно в поле формы
        passwordInput.value = encodedPassword;

        // Отправить форму
        document.getElementById("form").submit();
    }
</script>
</html>