body {
    background: url(../images/backgroundDark.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header
{
    display: flex;
    justify-content: space-between;
    padding: 0%;
    background-color: #F9F0DA;
    border-radius: 0px;
    position:sticky;
    z-index: 1;
    top: 0;
}

.header_section
{
    display: flex;
    align-items:center;
}

.header_item
{
    padding: 0px 50px;
    font-size: 26px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.header_item:hover
{
    background: #166F59;
    color: #F9F0DA;
}